nav {
    background-color: rgba(179, 0, 255, 0.4);


    #logoImage {
        width: 180px;
        height: 150px;
        padding: 5px;
        border-radius: 50%;
        opacity: .70;   
        border: 3px solid $color-light-purple;
        box-shadow: inset 0px 0px 0px 3px $color-black  ;
    }

    .hamburger-Img {
        display: none;
    }

    .mobile-options-menu {
        display: none;
        position: absolute;
        width: 100%;
        height: 20vh;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    a{
        color: $color-white;
        text-decoration: none;

        &:hover {
            color: $color-purple;

        }

    }


    ul li {
        list-style: none;
        font-size: 2.5rem;
        letter-spacing: 3px;
        font-weight: 900;
        text-shadow: 1px 1px 1px $color-black;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 5px;

        // &:hover{
        //     border-top: 2px solid $color-purple;
        //     text-shadow: 2px 2px 2px #6b38a6;
        //     transition-property: transform;
        //     transition: all;
        //     transition-duration: 500ms;
        //     transform: scale(1.1);
        // }

    }

    ul li::after {
        content: '';
        margin: auto;
        width: 0%;

    }   

    li:hover:after {
        content: '';
        transition-duration: .5s;
        width: 95%;
        height: 1px;
        background-color: black;

    }


}


/*Media Queries*/

@media only screen and (max-width: 600px){

    .companyLogo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navUL{
        
        justify-content: flex-start;
        flex-direction: row;
        border: 3px solid black;
    }
    .navLi {
        display: none;

    }
    
    .companyLogo {
        justify-content: space-around;
        border: 3px solid black;
        width: 100%;
    }

    .hamburger-Img {
        display: block!important;
        width: 100px!important;
        &:hover {
            cursor: pointer;
        }
    }
}