$color-blue: #5bccf6;
$color-yellow: #AEE615;
$color-black: #030e12;
$color-white: #FFFFFF;
$color-purple: #b300ff; /*RGB rgb(179, 0, 255)*/
$color-light-purple: #f0ccff; /*rgb(240, 204, 255)*/
$color-pink : #EB52DF;
$color-dark-blue: #0636D4;
$color-black: #000000;