<div class="about-us-main">
    <img class="about-us-image" src="images/aboutusBackgroundEdit.jpeg" alt="Road I took">
    <div class="about-us-wrapper">
        <div class="selfie">
            <img class="avatar-img" src="images/avatar.png" alt="Business Owner">
        </div>
        <div class="about-us-text">
            <h1>About Us</h1>
            <p>Hello, my name is Kate and I am a party decorator based out of Ocean County, NJ. I work with my clients to make their events memorable and create balloon 
                displays to make their special day picture perfect. 
            </p>
            <button id="readMoreButton">Read More</button>
        </div>
    </div>
</div>

<div class="read-more-main" id="readMoreContent">
    <div class="read-more-text">
        <p>
            I started in the business as an event planner much throughout my youth and always enjoyed helping people
            bring their designs to life. I started my company "A Balloon Happenin" as my own venture and fulfill my
            dreams as a designer. During my time event planning I adored the memories that we could help create
            and wanted to take my skills on the road. I started my company in 2021 and will never look
            back. <span>My goal</span> is to help my customers bring their party to life with balloon designs of their choosing.
            I have in the past built displays of peoples favorite Disney characters, favorite shows, or even custom designs chosen
            by our more creatives minded customers. Check our <a href="/gallery">Gallery</a> to see what we've done! 


        </p>
    </div>
</div>

<script src="javascripts/aboutUsButton.js"></script>